.practices-list-item{
    width: 33%;
    height: auto;
    border: solid 1px darkgray;
    border-radius: 4px;
    margin: 1px;
}

.list-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.summary{
    width: 100%;
}

.height-100{
    height: 100%;
}

.margin-5{
    margin: 5px;
}

.practices-search{
    width: 40%;
}

.inline{
    display: inline;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.contracts-flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contracts-flex-row > *{
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px;
}

.contracts-flex-row > *:last-child{
    margin-right: 0;
}

.contracts-flex-row > *:first-child{
    margin-left: 0;
}

.btn-submit{
    margin-left: 10px;
    height: 40px;
    width: 40px;
    align-self: center;
}

.btn-reset{
    margin-left: 10px;
    height: 40px;
    width: auto;
    align-self: center;
}

.padding-none{
    padding: 0;
}

#student-button{
    width: 180px;
    height: 35px;
    margin-left: 20px;
}

.marg-bottom-20{
    margin-bottom: 20px;
}

.marg-right-20{
    margin-right: 20px;
}


